<p style="color: green"><%= notice %></p>

<div class="container row-30 col-15 mx-auto text-center">
<div class="card mx-auto" style="padding: 20px;" >
<div class="d-flex mb-3" style="justify-content: space-between">  
  <%= image_tag @group.icon, style: "width: 150px; height: 100px;" if @group.icon.attached? %>
  <h1> <%=  @group.name %> </h1>
  </div>
  

  <h2>Recent transactions</h2>
      <% @recent_payments.each do |payment| %>
      <ul class="list-group row mt-3" style="text-align: left;">
      <li class="list-group-item d-flex" style="flex-direction: column;"><span style="font-size: 18px; font-weight: bold;"> <%= payment.name %></span>   <span> <%= payment.created_at.strftime("%Y-%m-%d") %> at <%= payment.created_at.strftime("%H:%M") %> </span> </li>
      </ul>
      <% end %>
      
  <div class="mt-3" style="text-align: left">    
      <p class="mb-4 d-flex" style="justify-content: space-between;"><span>Total Amount: </span> <span> $ <%= @total_amount %> </span> </p>    
    <div class="d-flex" style="flex-direction: column; text-align: center;">
      <%= link_to "View Transactions", user_group_payments_path(@user, @group) %> 
     <span class="d-flex" style="justify-content: space-between;" >
      <%= link_to "Edit Category", edit_user_group_path(@user, @group) %>
      <%= link_to 'Destroy Category', user_group_path(@user, @group), method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
    </div>    
      </div>
  <div>
  </div>
