<!DOCTYPE html>
<html>
<head>

</head>
<body>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand">Gift Credit</span>
    <span class="text" style="font-weight: 800; z-index: 2;">$ <%= total_credits %> </span>
  </div>
</nav>

  <p style="color: green"><%= notice %></p>

  <div class="container-fluid">

    <% if @groups %> 
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover" style="width: 100%;">
            <thead >
              <tr>
                <th scope="col" style="background-color: transparent;"></th>
                <th scope="col" style="background-color: transparent;"></th>
                <th scope="col" style="background-color: transparent;"></th>
                <th scope="col" style="background-color: transparent;"></th>
              </tr>
            </thead>
            <tbody>
              <% @groups.each do |group| %>
                <tr>
                  <td>
                  <span>

                  <%= image_tag group.icon, style: "width: 150px; height: 100px;" if group.icon.attached? %>
                  </span>
                  </td>
                  <td>  <%= link_to group.name, user_group_path(@user, group) %> </td>
                  <td><%= group.user %></td>
                  <td>  <%= group.total_amount %></td>    
                  </tr>
              <% end %>
            </tbody>
          </table>


        </div>
      </div>
      <div class="btn btn-success" style="width: 100%; position: fixed; bottom: 2%; left: 0;">      <button class="btn btn-success" style="width: 95%; border: 1px solid white;" onclick="window.location.href='<%= new_user_group_path(@user) %>'">New Category</button> </div>

      <% else %>


      <h3>Create New Category </h3>
<div class="btn btn-primary" style="width: 100%;">      <button class="btn btn-success" style="width: 95%; position: fixed; bottom: 2%; left: 0; border: 1px solid black;" onclick="window.location.href='<%= new_user_group_path(@user) %>'">New Category</button>
   </div> <% end %>

  </div>

</body>
</html>
