<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <p style="color: green"><%= notice %></p>

  <div class="container-fluid">

    <% if @groups %> 
      <div class="row">
        <div class="col-md-12">
          <h1 class="text text-soft text-center">Categories</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Icon</th>
                <th scope="col">Name</th>
                <th scope="col">User</th>
                <th scope="col">total Amount</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>

              </tr>
            </thead>
            <tbody>
              <% @groups.each do |group| %>
                <tr>
                  <th scope="row"></th>
                  <td>
                  <span>
                  <%= image_tag group.icon, style: "width: 150px; height: 100px;" if group.icon.attached? %>
                  </span>
                  </td>
                  <td><%= group.name %></td>
                  <td><%= group.user %></td>
                  <td><%= group.total_amount %></td>
                  <td><%= link_to 'Detail', user_group_path(@user, group) %></td>
                  <td>  <%= link_to "Edit", edit_user_group_path(@user, group) %> </td>
                  <td><%= link_to 'Destroy', user_group_path(@user, group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>


        </div>
      </div>
      <span><%= link_to 'New Category', new_user_group_path(@user), class: "btn btn-success", style: "width: 10 `0%; margin-top: 50vh;" %></span>
      <% else %>


      <h3>Create New Category </h3>
      <%= link_to 'New Category', new_user_group_path(@user), class: "btn btn-success", style: "width: 100%; margin-top: 50vh;" %>
    <% end %>

  </div>

</body>
</html>
