<div class="container mx-auto text-center" >
  <div class="card row-15 col-12 bg-light mt-5" >

<p style="color: green"><%= notice %></p>

<h1> <%= @group.name %>  Transactions </h1>

<% if @payments %>
  <div id="payments">
    <% @payments.each do |payment| %>
      <ul class="list-group mb-2" >
      <li class="list-group-item"><%= payment.name %></li>
      <li class="list-group-item list-group-item-primary"><%= payment.amount %></li>
      <%= link_to "Delete", user_group_payment_path(@user, @group, payment), method: :delete, data: { confirm: 'Are you sure?' } %>

      </ul>
      <% end %>
  </div>
  <% else %>
  <p>No payments available.</p>
  <span class="btn btn-success" style="width: 100%">  <%= link_to "New Transaction", new_user_group_payment_path(@user, @group), class: "text-light", style: "text-decoration: none; margin-top: 40vh;" %> </span>
  <% end %>
  </div>
 
  <div class="footer mt-5" >
 <div class="btn btn-success" style="width: 100%; position: fixed; bottom: 2%; left: 0;">  <span class="btn btn-success" style="width: 95%; border: 1px solid white;">  <%= link_to "New Transaction", new_user_group_payment_path(@user, @group), class: "text-light", style: "text-decoration: none; margin-top: 40vh;" %> </span> </div>
  </div>
</div>
