<!DOCTYPE html>
<html>
  <head>
    <title>BudgetAssist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>  
    <%= javascript_include_tag 'rails-ujs' %>

  </head>

  <body>


<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h5 class="align-left text-light"> BudgetAssist </h5>
  </div>
</nav>



  <%= yield %>

  </body>
</html>
