<!DOCTYPE html>
<html>
  <head>
    <title>BudgetAssist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>  
    <%= javascript_include_tag 'rails-ujs' %>

  </head>

  <body>

    <% if @show_first_navbar %>
      <nav class="navbar navbar-dark bg-primary" style="width: 100%">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h5 class="align-left text-light"> BudgetAssist </h5>
        </div>
      </nav>

      <% elsif @show_second_navbar %>
      
      <nav class="navbar navbar-dark bg-primary" style="width: 100%">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <%= link_to users_path, class: "text-light row-4" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
          <% end %>
          
                 </button>
          <p class="align-left text-light"> next </p>
        </div>
      </nav>

    <% else %>
      <!-- Default navbar or no navbar -->
    <% end %>

    <%= yield %>

  </body>
</html>
